body{
  margin: 20px;
}

.add{
  background-color: green;
  color: antiquewhite;
  border-radius: 10px;
}

.delete{
  background-color: red;
  color: antiquewhite;
  border-radius: 10px;
}

.dos{
  margin-top: 5px;
}
.line-through{
  text-decoration: line-through red;
}